*{
    margin:0%;
    /* font-family: 'Times New Roman'; */
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    border: border-box;
    color: white;
}
:root{
    --pink-shade: ;
    --purple-shade: ;
    --red-color:;
    --red-hover: rgba(255, 0, 0, 0.664);
    --main-black:rgba(0, 0, 0, 0.81); 
    --text-grey:rgba(255, 255, 255, 0.7);
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */
header{
    background-image: url(netflixImages/netflixBg.jpg);
    background-size: cover;
    height: 750px;
    width: 100%;
}

/* nav-bar */
.navbar{
    height: 120px;
    padding: 0px 32px 0px 32px;
    background-color: var(--main-black) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head{
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navlogo{
    height: 45px;
    margin: 0px 20% 0px 5px;
    display: flex;
    align-items: flex-start;
}
.logo{
    height: 45px;
    width: 148px;
    background-image: url(netflixImages/netflixLOGO.png);
    background-size: cover;
}

.navsignin{
    height: 38px;
    padding: 3px;
    margin: 5px 0px 0px 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.lang{
    border: 1px solid var(--text-grey);
    margin: 5px 10px 0px 0px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.lang > label{
    width: auto;
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5px;
}

.lang > label > i {
    color: white;
    font-size: 18px;
    position: relative;
    top:1px;
    left: 7px;
    border: transparent;
}
.lang > label > select {
    position: relative;
    left: -23px;
    height: 40px;
    padding: 8.5px 36px 8.5px 36px;
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    outline: transparent;
}

select > option{
    color: black;
}
.navsignin > a {
    height: 35px;
    width: 72px;
    border: none;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:650;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px 0px 0px 10px;
}

.navsignin > a:hover{
    background-color: var(--red-hover);
}

/* nav box */
.navBox{
    height:598px;
    background-color:  var(--main-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content{
    height: 242px;
    padding: 0px 32px 32px 32px;
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content > h1 {
    height: auto;
    width: 538px;
    font-size: 40px;
    font-weight: 30px;
    margin-bottom: 8px;
}

.content > p {
    height: auto;
    width: 538px;
    font-size: 16px;
    margin-bottom: 24px;
}

.userinput {
    width: 538px;
    height: auto;
    font-size: 16px;
}

.navBoxBottom{
    width: 538px;
    height: 55px;
    padding-top: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.navBoxBottom > input{
    padding: 20px 16px 10px 16px;
    height: 24px;
    width: 292px;
    border: 0.6px solid white;
    border-radius: 5px;
    font-size: 22px;
    flex-grow: 2;
    background-color: rgba(0, 0, 0, 0.685);
    text-align:justify;

}

.navBoxBottom > button {
    cursor: pointer;
    height: 56px;
    width: 175px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 0px 0px 0px 15px;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navBoxBottom > button:hover{
    background-color: var(--red-hover);
}
.nav-footer{
    position: relative;
    top:9%;
    height: 105px;
    width: 98%;
    border-radius: 50%;
    display: flex;
    background-color: black;
    border: 10px solid red;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 20px 40px 30px rgb(112, 112, 177) ;

}

/* main tag */
main{
    position: absolute;
    top:125% ;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: black;
}

/* Trending box */
.trending{
    margin-top: 50px;
    height: 312px;
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trending > h2 {
    width: 80%;
    height: 32px;
}
.trend-select{
    height: 55px;
    width: 80%;
    margin-top: 10px;
}
.trend-select > select {
    height: 40px;
    width: 115px;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px 0px 8px 12px;
    margin-right: 20px;
    border: 1px solid white;
    outline: transparent;
    font-size: 18px;
}

.movies-belt{
    height: 210px;
    width: 93%;
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 5%;

}

.movie-poster{
    height:100%;
    width:14%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
}
 .movie {
    height: 100%;
    width: 100%;  
    margin-right: 10px;
}
.movie-01{
    display: none;
}

.movie > img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.movie > i {
    font-weight: 100px;
    font-size: 80px;
    color: black;
    -webkit-text-stroke-width:2px ;
    -webkit-text-stroke-color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    position: relative;
    top:-50%;
    left:-15%;
}

.slide{
    height:120px;
    width: 24px;
    background-color: rgba(255, 255, 255, 0.187);
    border-radius: 5px;
    border: none;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
.slideLeft{
    margin-right:25px;
    display: none;
}
.slideRight{
    display: flex;
}

.slide:hover{
    background-color:  rgba(255, 255, 255, 0.412) ;
}

/* entertainment box */
.entertainment{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.entertainment > h2 {
    height: 30px;
    width: 80%;
    margin: 20px 0px;
    font-size: 24px;
}

.ent-boxes {
    width: 83%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    height: 100px;
    width: 40%;
    border-radius: 20px;
    padding: 24px 24px 96px 24px;
    margin-top:12px ;
    background-color: rgba(13, 13, 77, 0.618);
    box-shadow: 20px 20px 50px 10px rgba(24, 24, 93, 0.835) inset;
    display: flex;
    flex-direction: column;
}

.box > h3{
    height: 35px;
    width: 70%;
    font-size: 20px;
    margin-bottom: 20px;
}

.box > p{
    height: 63px;
    width: 75%;
    color: var(--text-grey);
    font-size: 16px;
}

/* FAQ box */

.FAQ-box{
    height: auto;
    width: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.FAQ-box > h2{
    height: 20px;
    width: 100%;
    margin:40px 0px 30px 5px;
    font-size: 24px;
}

.FAQ{
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding: 40px;
    display: flex;
    font-size: 28px;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0.1);
    border: transparent;
    margin-top: 8px;
}
.FAQ-box > button:hover {
    background-color: rgba(99, 95, 95, 0.81);
}

.FAQ > i {
    font-size: 38px;
    color: white;
}

.fa-xmark{
    display: none;
}
.ans{
    width: 92%;
    height: auto;
    padding: 40px;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0.1);
    border: transparent;
    display: none;
    margin-top: 3px;
}

/* base email bx */

.base{
    height: 100px;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    margin: 60px 0px 20px 0px;
}
.baseBottom{
    width:90%;
}
.base >input {
    width: 680px;
    height: 55px;
    padding-top: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* FOoter */

footer{
    position: absolute;
    top: 440%;
    z-index: 20;
    margin: 40px 0px 50px 0px;
    height:400px ;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer > div {
    width: 100%;
    margin: 0px 0px 30px 4px;
}
.contact{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--text-grey);
}
.links > ul{
    height: 200px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.links > ul > li  {
    list-style-type: none;
    height: 20px;
    width: 32%;
    margin: 0px 0px 15px 0px;

}li > a{
    color: var(--text-grey);
}
.footerlang {
    width: 15%;

}

.app > p{
    color: var(--text-grey);
    width: 98%;
    margin-top: 10px;
}
